body {
    background-color: #edfaf0;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
h1 {
    text-align: center; 
    color: #2e8b57; 
    font-size: 36px;
}
p {
    text-align: left; 
    line-height: 1.5; 
}
img {
    display: block;
    margin: 0 auto;
}